.form-content {
  background-color: aqua;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 12em;
  padding: 70px;
  flex-direction: column;
  display: flex;
  border: 1px solid #000;
}
.form-content label {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 500;
  padding: 2px;
}

.form-content input,
.form-content textarea {
  border: 1px solid #aaa;
  border-radius: 8px;
  background-color: #fff;
  padding: 0 10px;
}
button {
  background-color: #627edb;
  color: #fff;
  margin: none;
  border-radius: 8px;
  width: 9em;
  padding: 6px;
  margin-top: 10px;
  border: none;
  align-self: center;
}
button:hover {
  background-color: blue;
  color: aqua;
}
